@import "src/styles/colors";

.pulse {
  margin: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: $red;
  cursor: pointer;
  box-shadow: 0 0 0 rgba($red, 0.4);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  70% {
    box-shadow: 0 0 0 5px rgba($red, 0.4);
  }
}
