@import "src/styles/colors";
@import "src/styles/variables";
@import "src/styles/global-styles/avatar-img";

.sidebar {
  grid-area: s;
  background-color: coral;
  min-height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.15fr;
  grid-template-areas:
          "streamers"
              "info";
  overflow-x: auto;
}

.block-streamers-wrapper {
  display: block;
  grid-area: streamers;
  background-color: $lightGray;
}

.block-streamer-info {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  list-style-type: none;
  padding: 10px 20px 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: $orange;
  }
}

.block-streamer-info div {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.block-info-wrapper {
  grid-area: info;
  background-color: $lightGray;
}

.block-info {
  background-color: $gray;
  border-radius: 3px;
  margin: $marginTop $marginRight 30px $marginLeft;
  height: 100px;
  padding: 15% 10px 10px 10px;
  text-align: center;

  &:hover {
    background-color: $whiteGray;
  }
}

.block-social-icon {
  margin: 10px 0 10px 0;
}

.block-social-icon i {
  font-size: 22px;
}

.fa-telegram {
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.fa-instagram {
  cursor: pointer;
  margin-left: 15px;

  &:hover {
    color: $pinkRed;
  }
}

.fa-facebook {
  cursor: pointer;
  margin-left: 15px;

  &:hover {
    color: $blue;
  }
}

.block-info-wrapper hr {
  border: none;
  height: 1px;
  box-shadow: 2px 2px 2px $white;
}

.narrow-screen {
  display: none;
}

.streamer-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 85px;
  margin: 0 0 0 10px;
}

.wide-screen {
  font-size: 22px;

  &::selection {
    color: #fff;
    background-color: $orange;
  }
}

@media screen and (max-width: 1200px) {
  .streamer-name,
  .block-streamer-info div {
    visibility: hidden;
  }

  .avatar-image {
    width: $imageStreamerSizeSmall;
    height: $imageStreamerSizeSmall;
  }

  .block-info {
    margin: 5px 5px 30px 5px;
    height: 75px;
    width: 60px;
    padding: 3px;
  }

  .block-social-icon i {
    max-width: 50px;
    font-size: 14px;
  }

  .fa-facebook {
    cursor: pointer;
    margin-left: 1px;
  }

  .wide-screen {
    display: none;
  }

  .narrow-screen {
    font-size: 14px;
    display: block;

    &::selection {
      color: #fff;
      background-color: $orange;
    }
  }
}
