$white: #ffffff;
$whiteGray: #d5d5d5d5;
$lightGray: #ebebeb;
$gray: #c1c1c1;
$orange: #f6af44;
$blue: #4b86ef;
$pinkRed: #f80784;
$red: #cc2c2c;
$dark: rgba(0, 0, 0, 0.6);

.wrapper {
  width: 400px;
  height: 300px;
}
