body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Hind Vadodara', sans-serif;
}

.container {
  width: 100vw;
  min-height: calc(100vw - 50px - 30px);
  display: grid;
  grid-template-columns: repeat(12, 1fr) ;
  grid-template-rows: 50px calc(100vh - 50px - 30px) 50px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "s s c c c c c c c c c c"
    "s s f f f f f f f f f f";
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    min-height: calc(100vw - 50px - 30px);

    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: 50px calc(100vh - 50px - 30px) 50px;
    grid-template-areas:
            "h h h h h h h h h h h h"
            "s c c c c c c c c c c c"
            "s f f f f f f f f f f f";
  }
}
