@import "src/styles/colors";

.footer {
  grid-area: f;
  background-color: $lightGray;
  height: 30px;
}

.footer div {
  text-align: center;
}

.footer div span,
.footer div i {
  font-size: 20px;
  padding-bottom: 15px;
  cursor: pointer;
}

.footer div i {
  margin-left: 10px;
  &:hover {
    color: $red;
  }
}
