@import "src/styles/colors";

.btn-category {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 15px;
  background-color: $lightGray;
  height: 34px;
  padding: 5px 15px 7px 20px;
  border-radius: 15px;
  margin: 15px 0 10px 15px;

  &:hover {
    background-color: $orange;
    box-shadow: 1px 3px 3px $gray;
    cursor: pointer;
  }
}

.btn-category:nth-child(1) {
  background-color: $orange;
  color: $white;
}
