@import "src/styles/colors";
@import "src/styles/variables";

.content {
  grid-area: c;
  background-color: $white;
  min-height: calc(100vh - 50px - 30px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 5.4fr 6fr;
  grid-template-areas: "categories" "slider" "video";
  overflow-x: auto;
}

.block-categories-wrapper {
  display: block;
  grid-area: categories;
}

.block-slider-wrapper {
  display: block;
  grid-area: slider;
  min-height: 50vh;
}

.block-video-wrapper {
  display: grid;
  grid-area: video;
  grid-template-columns: repeat(auto-fill, 420px);
  justify-content: center;
  margin: $marginLeft;
  grid-gap: 20px;
}

@media screen and (max-width: 1800px) {
  .block-video-wrapper {
    margin-top: 180px;
  }
}
