@import "src/styles/colors";

.live {
  background-color: $red;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 1px 10px 1px 10px;
  text-align: center;
  margin: -270px 0 0 10px;
  position: sticky;
  text-transform: uppercase;
  color: $white;
  font-size: 20px;
}
