@import "src/styles/colors";
@import "src/styles/variables";

.avatar-image {
  margin-right: 5px;
}

.image-container {
  grid-area: image_block;
}

.live-slider {
  position: absolute;
  background-color: $red;
  width: auto;
  margin: -290px 0 0 10px;
  border-radius: 5px;
  padding: 1px 10px 1px 10px;
  text-transform: uppercase;
  color: $white;
  font-size: 20px;
}

.slider {
  margin-top: 8%;
  height: 70%;
  position: relative;
  perspective: 700px;
  transform-style: preserve-3d;
}

.slider label {
  margin: auto;
  width: 700px;
  height: 70%;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.slide-container {
  height: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-gap: 0 0;
  grid-template-areas: "image_block streamer-block";
}

.slider-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 300px;
  min-height: 300px;
}

.streamer-info-container {
  grid-area: streamer-block;
  background-color: $lightGray;
}

.streamer-info {
  display: flex;
  margin: 20px 0 0 10px;
}

.streamer-info span {
  font-size: 24px;
  margin: -10px 0 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90px;
}

.streamer-info .streamer-name {
  position: absolute;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90px;
  white-space: nowrap;
  margin: 20px 0 0 55px;
  color: $gray;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
}

#slide1,
#slide2,
#slide3,
#slide4,
#slide5 {
  background: $lightGray;
}

.slider [type=radio] {
  display: none;
}

.video-comments {
  display: block;
  margin: $marginLeft;
}

.viewers-block-slider {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 530px;
  height: 30px;
}

.viewers-slider {
  position: absolute;
  background-color: $dark;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  text-align: center;
  color: $white;
  font-size: 18px;
  margin: -40px 10px 0 0;
}

@media screen and (max-width: 1200px) {
  .slider label {
    width: 400px;
    max-height: 100px !important;
  }
  .slider-image {
    max-height: 230px;
    min-height: 230px;
  }
  .live-slider {
    margin: -220px 0 0 10px;
    font-size: 14px;
  }
  .viewers-slider {
    margin: -30px 285px 0 0;
    font-size: 12px;
  }
}
