@import "src/styles/colors";

.fa-ellipsis-v {
  margin: 10px 20px 0 10px;
  &:hover {
    color: $orange;
  }
}

.paw-icon {
  display: block;
  color: $white;
  font-size: 30px;
  margin: -170px 0 0 190px;
  opacity: 0;
}

.card {
  width: 420px;
  height: 280px;
  box-shadow: 0 0 3px 1px #dddddd;
}

.card:nth-last-child(1) {
  margin-bottom: 20px;
}

.video-img {
  width: 420px;
  height: 220px;
  display: block;
}

.card:hover .video-img,
.card:hover .paw-icon {
  opacity: 1;
  filter: brightness(80%);
  cursor: pointer;
}

.video-title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
}

.avatar-image-video {
  margin: 10px 10px 0 10px;
}

.img-container {
  min-height: 37px;
}

.card div {
  display: flex;
  float: left;
  height: 33px;
}

.card p {
  margin: -15px 0 0 60px;
  color: $gray;
}

.card span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 330px;
  max-width: 330px;
}
