@import "src/styles/colors";

.viewers-block {
  display: flex;
  width: 420px;
  margin-top: -98px;
  justify-content: flex-end;
}

.viewers {
  background-color: $dark;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin-right: 10px;
  text-align: center;
  flex-direction: row;
  position: sticky;
  color: $white;
  font-size: 18px;
}
