@import "../colors";
@import "src/styles/variables";

.dropdown {
  font-weight: 500;
}

.dropdown-block {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
  background: darkorange;
  margin: -25px 0 $marginTop 30px;
}

.dropdown-block i {
  font-size: 14px;
  margin: 8px 8px 0 8px;
}

.dropdown-block li:nth-child(1) {
  visibility: hidden;
}

.dropdown-block li {
  background: $white;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  padding: 5px;

  &:hover {
    background: $gray;
    cursor: pointer;
  }
}

.dropdown-block li:not(:first-child) {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 2px 2px $gray;
}

.dropdown-block:hover {
  background: $gray;
  cursor: pointer;
}

.dropdown-block ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  margin: -15px 0 0 -110px;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
  width: 130px;
}

.dropdown-block:hover > ul,
.dropdown-block ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown-block ul li {
  clear: both;
  width: 100%;
}
