@import "../colors";
@import "src/styles/variables";

.fa-keyboard {
  margin-left: -30px;
  padding: 6px;
  cursor: pointer;
}

.fa-microphone, .fa-bell {
  color: $gray;
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}

.fa-bell {
  margin-top: 5px;
}

.fa-search, .fa-keyboard {
  &:hover {
    color: $orange;
  }
}

.fa-microphone {
  margin: 5px 0 0 15px;
}

.header {
  grid-area: h;
  background-color: $white;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-areas: "a b c";
  box-shadow: 1px 1px 3px 1px $gray;
  z-index: 999;
}

.header h1 {
  grid-area: a;
  color: $orange;
  margin-left: $marginLeft;
}

.right-header-block {
  margin: 10px $marginRight 0 auto;
  grid-area: c;
}

.search-block {
  grid-area: b;
  margin: 10px 0 auto;
  display: flex;
  flex-direction: row;
}

.search-block button {
  float: right;
  background-color: $lightGray;
  min-width: 48px;
  height: 28px;
  border-radius: 0 3px 3px 0;
  border: 1px solid $gray;
  cursor: pointer;
  &:hover {
    background-color: $gray;
  }
}

.search-block input {
  float: left;
  font-size: 12px;
  border: 1px solid $gray;
  min-width: 100%;
  max-width: 120%;
  height: 14px;
  padding: 6px;
  border-radius: 3px 0 0 3px;
  outline: none;
  cursor: pointer;
}

.search-block input:focus {
  border: 1px solid $orange;
}
