.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  font-size: 14px;
  opacity: 0.6;
  min-height: 14px;
  max-height: 14px;
  width: 90px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -40px;
  left: 50%;
  margin-left: -45px;
  transition: opacity 0.2s;
}

.tooltip .tooltip-text::after {
  transform: rotate(180deg);
  content: "";
  position: absolute;
  top: -36%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
